<!-- My path is /posts/:id -->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/evil.css" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/assets/favicon/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/assets/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/assets/favicon/favicon-16x16.png"
        />
        <link rel="manifest" href="/assets/favicon/site.webmanifest" />
        <title>EDIT POST - evil forum</title>
    </head>
    <body>
        <nav id="editPost-navBar"></nav>
        <div class="content">
            <div id="editPost-postSummary"></div>
            <i>editing as <span id="editPost-username"></span></i>
            <form id="editPost-editForm">
                <div
                    class="form-group"
                    id="newPost-postTextContentContainer"
                    style="display: block"
                >
                    <textarea
                        id="newPost-postTextContent"
                        rows="3"
                        placeholder="share your nefarious plans"
                    ></textarea>
                    <input type="submit" />
                </div>
            </form>
        </div>
    </body>
    <script src="/js/edit-post.js" type="module"></script>
</html>
