<!-- My path is /users/:id -->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/evil.css" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/assets/favicon/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/assets/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/assets/favicon/favicon-16x16.png"
        />
        <link rel="manifest" href="/assets/favicon/site.webmanifest" />
        <title>VIEW USER - evil forum</title>
    </head>
    <body>
        <nav id="user-navBar"></nav>
        <div class="content">
            <div id="user-userInformation">
                <h1 id="user-userDisplayName"></h1>
                <h2 id="user-username"></h2>
            </div>
            <div id="user-userContent"></div>
        </div>
    </body>
    <script src="/js/user.js" type="module"></script>
</html>
