<!-- My path is /auth/google?code=[code] -->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SIGNING OUT - evil forum</title>
        <link rel="stylesheet" href="/css/evil.css" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/assets/favicon/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/assets/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/assets/favicon/favicon-16x16.png"
        />
        <link rel="manifest" href="/assets/favicon/site.webmanifest" />
    </head>
    <body>
        <div id="authLogout-content">
            <h1>please stand by<span class="loading-ellipsis">...</span></h1>
            <h2 id="authLogout-error"></h2>
        </div>
    </body>
    <script src="/js/auth-logout.js" type="module"></script>
</html>
