<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/evil.css" />
        <title>404 NOT FOUND - evil forum</title>
    </head>
    <body>
        <nav id="homepage-navBar">
            <a href="/"
                ><img src="/assets/evil-forum.svg" alt="evil forum"
            /></a>
        </nav>
        <div class="content">
            <h1>looking for something?</h1>
            <p>
                Sorry! That path cannot be found. <a href="/">Let's go home.</a>
            </p>
            <p>-Ari</p>
        </div>
    </body>
</html>
